# Build artifacts
bin/
obj/
*.dll
*.pdb
*.exe
*.cache
*.FileListAbsolute.txt

# Test results
TestResults/
*.trx
*.log
*.coverage
*.testresult.json

# User-specific files
*.user
*.suo
*.DS_Store
.vscode/

# Publish output
/app/publish/
publish/
*.zip

# Docker & packaging
*.tar
*.gz
*.env

# Temporary and lock files
*.lock.json
*.tmp
